<% layout('layouts/boilerplate') -%>

<div class="container text-center mt-5">
  <h1>Welcome to Notes Keeper App!</h1>
  <p class="lead">
    Your personal space to create, edit, and manage notes securely.
  </p>
  <a href="/signup" class="btn btn-success me-2 primary-btn">Get Started</a>
  <a href="/login" class="btn btn-outline-secondary secondary-btn"
    >Already have an account?</a
  >
</div>
